
.sidebar--component{
    background-color:black;
    color:white;
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:10px;
    align-items: left;
gap:10px;
}

H1{
margin:0;
}
.sidebar-component--row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}